*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--bg: #020406;
	--panel: #12171a;
	--border: solid 1px #43484d;
	--dot: #2a2e32;
	--accent: #0e9ee6;
	--ready: #40ad60;
	--hover: #292f32;

	--font:
		Inter,
		Roboto,
		'Helvetica Neue',
		'Arial Nova',
		'Nimbus Sans',
		Arial,
		sans-serif;

	--font-mono:
		ui-monospace,
		'Cascadia Code',
		'Source Code Pro',
		Menlo,
		Consolas,
		'DejaVu Sans Mono',
		monospace;

	--text: #d8dfe4;
	--text-dim: #b8bfc4;
	--text-sm: 0.841rem;
	--text-md: 1rem;
	--text-lg: 1.189rem;

	--pad: 0.5rem;
	--gap: 0.75rem;
	--transition: 150ms ease-out;

	--theme-light: 0;
}

:root[data-theme='light'] {
	--theme-light: 1;
	--panel: #fff;
	--bg: #e9f0f5;
	--dot: #d8dfe4;
	--hover: #e9f0f5;
	--text: #12171a;
	--text-dim: #5f6468;
	--border: solid 1px #d8dfe4;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: var(--font);
}

.spacer {
	flex: 1;
}

.nav {
	background: var(--panel);
	border-bottom: var(--border);
	padding: var(--pad) 1rem;
	display: flex;
	align-items: center;

	.title {
		font-size: var(--text-lg);
		font-weight: 600;
		color: var(--text);
	}

	.right {
		display: flex;
		gap: var(--gap);

		.theme-btn {
			position: relative;
			font-size: var(--text-md);

			.theme-icon {
				transition:
					transform var(--transition),
					filter var(--transition),
					opacity var(--transition);
			}

			.dark {
				position: unset;
				opacity: calc(1 - var(--theme-light));
				transform: scale(calc(1 - var(--theme-light)));
				filter: blur(calc(var(--theme-light) * 4px));
			}

			.light {
				position: absolute;
				opacity: var(--theme-light);
				transform: scale(var(--theme-light));
				filter: blur(calc((1 - var(--theme-light)) * 4px));
			}
		}

		.gh {
			font-size: var(--text-md);
		}
	}
}

.app {
	flex: 1;
	display: flex;
	align-items: stretch;
}

.workspace {
	background: var(--bg);
	background-image: radial-gradient(circle, var(--dot) 2px, transparent 0px);
	background-size: 20px 20px;
	background-position: center;
	flex: 7;
}

.btn {
	background: inherit;
	display: flex;
	align-items: center;
	gap: 0.25rem;
	text-decoration: none;
	border: var(--border);
	color: var(--text);
	padding: 0.4rem 0.6rem;
	border-radius: 0.4rem;
	transition: background var(--transition);
	cursor: pointer;

	& > svg {
		display: block;
	}

	&:hover {
		background: var(--hover);
	}
}

.dock {
	flex: 5;
	max-width: 360px;
	background: var(--panel);
	border-left: var(--border);
	display: flex;
	flex-direction: column;
}

.dock-scroll {
	overflow-y: auto;
	flex: 1;
}

.dock-section {
	padding: 1rem;

	.heading {
		color: var(--text);
		font-size: var(--text-md);
		font-weight: 600;
		margin-bottom: 0.75rem;
	}

	&:not(:last-child) {
		border-bottom: var(--border);
	}
}

.dock-footer {
	border-top: var(--border);
	padding: var(--pad);
	font-size: var(--text-sm);
	font-family: var(--font-mono);
	color: var(--text-dim);

	display: flex;

	& > :not(:last-child) {
		border-right: var(--border);
		padding-right: var(--pad);
		margin-right: var(--pad);
	}

	.status {
		display: inline-flex;
		align-items: center;
		gap: var(--pad);

		.indicator {
			--size: 0.5rem;

			background: var(--ready);
			border-radius: var(--size);
			width: var(--size);
			height: var(--size);
		}
	}
}

#section-switcher {
	display: none;
}

@media (max-width: 720px) {
	.app {
		flex-direction: column;
	}

	.dock {
		flex: 0;
		max-width: unset;
		border-left: none;
		border-top: var(--border);
	}

	.dock-footer {
		display: none;
	}

	#section-switcher {
		display: flex;

		.switcher-input {
			flex: 1;

			input:checked + div {
				color: var(--accent);
			}

			& > div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				color: var(--text-dim);
				gap: 0.25rem;
				padding: 1rem;

				& > svg {
					font-size: var(--text-lg);
				}
			}
		}
	}

	.dock-section {
		display: none;

		&[data-sec] {
			display: block;
		}
	}
}
